/* Fontes Usadas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Fundo Gradiente */
body {
    background: #eff1fe;
    font-family: "Montserrat", sans-serif;
    color: #333;
    border: 50px solid #a8c7f5;
    border-radius: 100px;
}


/* Sidebar e Ícones */
.bg-sidebar {
    background-color: #5694e9;
    height: 100%;
    border-radius: 60px;
}

.botaosidebar {
    width: 45%;
    margin: 15%;
    object-fit: contain;
    width: 45%;

}


.btncalendario {
    width: 34%;
}

.sidebar-icon {
    background-color: #FFF;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 10px 0;
}


.top-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.bottom-icon {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}



.btncalendario {
    width: 38%;
}

/* Seção de Boas-Vindas */
.gerenciarVacinas {
    text-decoration: none;
    margin: 30px;
    font-size: 14pt;
    color: #5694e9;
}

.btnaddVacinas {
    background-color: #5694e9;
    border-radius: 12px;
    color: #eff1fe;
    font-size: 20px;
}

.bg-info {
    background-color: #5694e9 !important;
    border-radius: 35px;
}

.bg-info h2 {
    display: inline;
    font-size: 2em;

}


#nomeUser-principal {
    color: #cee4ff;
}

.avatar-boasVindas {
    width: 20%;
    min-width: 200px;
}

.perguntaBV {
    color: #cfd1e3;
    font-size: 20pt;
    /* padding-left: 70px; */
}

/* Cards das Vacinas com os contadores */
.cardvacinasMain {
    width: 35%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.card {
    background-color: #FFF;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.tituloCardVacinal {
    font-size: 13pt;
    color: #676565;
}

.subtituloCardVacinal {
    color: #e45959;
    font-size: 28pt;
}

/* PARTE FELIPE MODAL */

.modal-content {
    border-radius: 15px;
    background: linear-gradient(180deg, #527ce6, #ffffff);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.input-group-text {
    background-color: #f1f1f1;
    border-right: 0;
}

.form-control {
    border-left: 0;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    border-radius: 27px;
}

.btn-primary:hover {
    background-color: #003f7f;
}

.btn-danger {
    background-color: #ea4335;
    border: none;
    border-radius: 27px;
}

.btn-danger:hover {
    background-color: #c73224;
}

.link-secondary {
    font-size: 0.9rem;
    color: #6c757d;
}

.modal-body {
    max-width: 400px;
    margin: auto;
}

.text-muted {
    font-size: 0.9rem;
    font-weight: 500;
}

.input-group .form-control {
    border: none; 
    border-bottom: 2px solid #ccc; 
    border-radius: 0; 
    background: transparent; 
    outline: none; 
    box-shadow: none; 
    transition: border-color 0.3s ease; 
}

.input-group .form-control:focus {
    border-bottom: 2px solid #0056b3; 
}


.input-group-text {
    border: none; 
    background: transparent; 
    color: #666; 
}


.input-group .form-control:focus + .input-group-text {
    color: #0056b3; 
}

#logo {
    width: 70%;
}

#loginModal {
    font-family: "DM Sans", sans-serif;
}

.emailsenha {
    font-size: 125%;
}

#asterisco {
    color: red;
}

.formzinho {
    background-color:  #7bb0ff!important;
  }

/* Calendário Vacinal */
.bg-success,
.bg-primary,
.bg-warning {
    border-radius: 10px;
}

.tituloCalendarioVacinal {
    color: #fc4a4a;
    font-size: 28px;
}

.mesAnoCalendario {
    font-size: 28px;
    color: #454545c0;
}

/* Sidebar de Perfil */
.avatarSidebar {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.botaonotificacaoSidebar {
    width: 100%;
    max-width: 35px;
}

.nomeUser-Sidebar {
    font-size: 36px;
    color: #000;
    padding-top: 10px;
}

.tituloSidebar-Perfil {
    display: inline;
}

.addConta-Sidebar {
    text-decoration: none;
    font-size: 16px;
    color: #5397eb;
    padding-left: 5px;
}

.tituloPerfisVinc {
    color: #000000;
    font-size: 19px;
}

.avatarPerfisSecundarios {
    width: 14%;
    height: 14%;
}

.botaoGerenciarContas {
    background-color: #5694e9;
    color: #E1EFFF;
    height: 110%;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 18px;
}

.profile-sidebar {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.list-unstyled i.bi-x-circle-fill {
    cursor: pointer;
    font-size: 1.2rem;
}


/* Modal Avatares - Escolha do Usuário */

.modal-title {
    font-size: 27px;

}

.avatar-options img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;

}

.avatar-options img:hover {
    transform: scale(1.1);
}

.edit-avatar {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;

}

.avatar-options img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;

}

.avatar-options img:hover {
    transform: scale(1.1);

}

.edit-avatar {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;

}

.avatar-option {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border 0.3s ease;
    border: 5px solid rgb(220, 225, 255);
}

.avatar-option:hover {
    border: 10px solid #1466da;
}

#avatarModal {
    height: 55%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.modal-fundo {
    background: linear-gradient(to bottom, #95c3ff, #5a9bf6);
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.modal-fundo .modal-header,
.modal-fundo .modal-footer {
    background: transparent;
    border: none;
}

/* Estilizando a Moldura e o Avatar */

.moldura-avatar {
    position: relative;
    margin: 0 auto;
    z-index: 2;
}


.moldura {
    width: 60%;
    height: auto;
}

.foto-avatar {
    z-index: 1;
    /* Avatar ficará abaixo da moldura */
}

.foto-avatar img {
    padding-top: 15px;
    width: 87%;
    /* Ajuste o tamanho da imagem do avatar */
    object-fit: cover;

}

.L_aside>img {
    width: 100%;
    max-width: 75px;
}

.L_hide_mobile{
    display: none;
}

nav.menu-toggle{
    position: relative;
}

nav .position-fixed{
    top: 0px;
    bottom: 0px;
}

nav .navbar-toggler{
    width: 50px;
    position: absolute;
    left: 5vw;
    top: 10vh;
}

nav img{
    width: 50px;
    padding: 0px;
}

collapse{
    background-color: white;
}

nav .navbar-collapse{
    background-color: #000000b0;
}

nav .navbar-collapse .icons{
    position: absolute;
    left: 5vw;
    top: 25vh;
}

/*   CSS para Celular - HELPPPPPPPPPPP ME    */

@media screen and (max-width: 992px) {

    body {
        border: 0px;
    }

    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        position: fixed;
        z-index: 1000;

    }

    .menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: none;
        z-index: 999;
        padding: 20px;
        gap: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .menu-mobile.active {
      display: flex;
    }  

    .bg-sidebar {
        display: none !important;
    }

    .botaosidebar {
        width: 22%;
        margin: 15%;
        object-fit: contain;
    }

    .L_hide_mobile{
        display: block;
    }

    .descertit{
        padding-left: 50px;
        padding-top: 20px;
    }

    .gerenciarVacinas{
        font-size: 17px;
        margin: 0px;
       
    }

    .btnaddVacinas{
        margin-top: 10px;
    }

    .cardgapcel{
        margin: 10px;
    }
    
    .imgbv{
        padding-top: 15px;
    }

    .perguntaBV{
        padding-top: 10px;
        font-size: 20px;
    }



}